@{
    ViewData["Title"] = "Home Page";
}
@model User

<form method="post">
    <div>
        <h4>Name</h4>
        <input asp-for="Name" />
    </div>

    <div>
        <h4>Password</h4>
        <input asp-for="Password" />
    </div>

    <a class="nav-link text-dark" asp-controller="Registration" asp-action="Register">Register</a>
</form>
